---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   3em;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     15px;

$text-color:       #CACACC; // GM light gray
$background-color: #CACACC; // GM light gray
$brand-color:      #CACACC; // GM light gray 

$grey-color:       #E37882;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    960px;

$on-palm:          600px;
$on-laptop:        800px;

p {
  font-size: 1.5em;
}

a {
  color: #C70025
}
a:hover,
a:focus {
  color: #CACACC;
  // text-decoration: underline;
}

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

.ns-background {
  // background-image: url("/assets/2Nrxex6.jpg");
  width: 100%;
  height: 100%;
}

.ns-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 50px 10px 10px;
  // padding: 0px 45px 0px;
}

.ns-logo-container {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.ns-th-video {
  // height: 240px;
  // width: 180px;
  margin: 0 0 0px 0;
  padding: 4px;
  // border-style: solid;
  // border-color: #000005;
  // background-color: #000005;
  outline: none;
}


// Bootstrap Contact Form
.header {
    color: #000005;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

.ns-bigicon {
  font-size: 35px;
  color: #000005;
}

.logo-centered {
  position: absolute; /* or fixed */
  top: 1%;
  left: 50%;
  background-color: transparent;
  // margin-top: -112px;
  margin-left: -150px;
  // transform: translate(-50%, 0%);
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

// Import Google Fonts
@import url(http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica:400italic);
@import url(http://fonts.googleapis.com/css?family=Slabo+13px);


// Google Maps API
// #map-canvas-PowellSt { height: 100%; margin: 0; padding: 0;}
#map-canvas-Steveston { height: 100%; margin: 0; padding: 0;}
#map-canvas { height: 100%; margin: 0; padding: 0;}

.gmnoprint img {
    max-width: none; 
}


/** FIX for Bootstrap and Google Maps Info window styes problem **/
img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
max-width: none;
}


// fullPage.js settings

/* Style for our header texts
* --------------------------------------- */
// h1{
//   font-size: 5em;
//   // font-family: arial,helvetica;
//   color: #fff;
//   margin:0;
//   padding:0;
// }

// h2{
//   font-size: 2em;
//   // font-family: arial,helvetica;
//   color: #fff;
//   margin:0;
//   padding:0;
// }

/* Centered texts in each section
* --------------------------------------- */
.section {
  text-align:center;
  background-color: #2B2B2B; // #4B4B4C;
  color: #CACACC;
  font-family: 'Oswald', sans-serif;
}


/* Backgrounds will cover all the section
* --------------------------------------- */
#section0,
#section1,
#section2,
#section3,
#section4,
#section5,
#section6{
  // background-size: cover; // if this is enabled then the background images will not repeat!
  font-family: 'Oswald', sans-serif;
}


/* for small screens (smaller than 992px) */
@media screen and (max-width: 1229) { /* GM: } 767px) {   */
  #section0,
  // #section2,
  #slide1,
  #slide2,
  #section3,
  #section4,
  #section5,
  #section6{
    padding: 0;
  }
}

/* GM for larger screens (larger than 992 px wide) */
@media screen and (min-width: 1230px) {
  #ns-home-wrapper,
  .ns-chrono-wrapper {
    padding-top: 50px;
    padding-right: 45px;
    padding-left: 45px;
    padding-bottom: 300px
  }
}
@media screen and (max-width: 400px) {
  .logo-centered {
    width: 230px;
    margin-left: -115px;
  }
}
#ns-home-wrapper {
  text-align: none;
  font-size: 0.8em;
  padding-left: 25px;
  padding-right: 70px;
}

#ns-home-col-wrapper {
  text-align: justify;
  padding: 0 15px 0;
}

.ns-chrono-wrapper {
  text-align: justify;
  padding-bottom: 250px;
}

.ns-wrapper {
  text-align: justify;
  padding-bottom: 15px;
}

.ns-navopen,
.ns-info {
  position: absolute;
  right: 10px;
  z-index: 1500;
  width: 30px;
  height: 30px;
  background-color: transparent;
  transition: all 0.5s ease;
}
.ns-navopen {
  top: 10px;
  border-radius: 3px;
}
.ns-navopen:hover {
  height: 30px;
  width: 30px;
  background-color: #CACACC;
  border-radius: 3px;
}
.ns-info {
  top: 60px;
  border-radius: 50%;
}
.ns-info:hover {
  height: 30px;
  width: 30px;
  background-color: #CACACC;
  border-radius: 50%;
}
.ns-navclose {
  position: relative;
  height: 30px;
  width: 30px;
  top: 10px;
  left: 10px;
  border-radius: 3px;
  background-color: transparent;
  transition: all 0.5s ease;
}
.ns-navclose:hover {
  height: 30px;
  width: 30px;
  background-color: #CACACC;
  border-radius: 3px;
}

.clickElement { cursor:pointer }

/* Defining each section background and styles
* --------------------------------------- */
#landing{ }
#section0{
  background-image: url(/assets/bg-pattern-03.png);
  // background-color: #4B4B4C; // #D9DBDD;
}
#section1{
  padding: 0 0 0 0;
  // background-color: #4B4B4C; // #D9DBDD;
}
#section2{
  // background-image: url(/assets/bg-pattern-01.png);
  // background-color: #4B4B4C; // #D9DBDD;
}
#section3{
  background-image: url(/assets/bg-pattern-06.png);
  // background-color: #4B4B4C; // #D9DBDD;    
}
#section4{
  background-image: url(/assets/bg-pattern-07.png);
  // background-color: #4B4B4C; // #D9DBDD;    
}
#section5{
  background-image: url(/assets/bg-pattern-05.png);
  // background-color: #4B4B4C; // #D9DBDD;    
}
#section6{
  background-image: url(/assets/bg-pattern-04.png);
  // background-color: #4B4B4C; // `#D9DBDD;    
}

/*Adding background for the slides
* --------------------------------------- */
#slide1{
  background-image: url(/assets/bg-pattern-02.png);
  z-index: -100;
}
#slide2{
  background-image: url(/assets/bg-pattern-01.png);
}
#slideTEMP{
  background-image: url(/assets/NS_Map0511TEMP.jpg);
  background-size: cover;
}

/* Bottom menu
* --------------------------------------- */
#infoMenu li a {
  color: #fff;
}

/* START Infobox */
.infobox-wrapper {
    display:none;
}
#infobox {
    border:2px solid black;
    margin-top: 8px;
    background:#333;
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding: .5em 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow:0 -1px #000000;
    -webkit-box-shadow: 0 0  8px #000;
    box-shadow: 0 0 8px #000;
}
/* END Infobox */

/* magnific popup testing in infobox */
#open-popup {padding:20px}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 40px;
  width: auto;
  max-width: 200px;
  margin: 20px auto;
  text-align: center;
}

.playIcon {
  height: 27px;
  width: 36px;
  transition: all 0.5s ease;
}
.playIcon:hover {
  height: 27px;
  width: 36px;
  background-color: #CACACC;
  border-radius: 3px;
}

.canvas.canvas-sliding {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

#Powell-01,
#Powell-02,
#Powell-03,
#Powell-04,
#Powell-05,
#Powell-06,
#Powell-07,
#Powell-08,
#Powell-09,
#Powell-10,
#Steveston-01,
#Steveston-02,
#Steveston-03,
#Steveston-04,
#Steveston-05,
#Steveston-06,
#Steveston-07,
#Steveston-08,
#Steveston-09,
#Steveston-10 {
  opacity: 1;
  transition: all 0.5s ease;
  margin: 0;
  padding: 0;
  background-color: transparent;
    -ms-transform: scale(0.98); /* IE 9 */
  -webkit-transform: scale(0.98); /* Safari */
  transform: scale(0.98);
}

#Powell-01.highlight,
#Powell-02.highlight,
#Powell-03.highlight,
#Powell-04.highlight,
#Powell-05.highlight,
#Powell-06.highlight,
#Powell-07.highlight,
#Powell-08.highlight,
#Powell-09.highlight,
#Powell-10.highlight
// #Steveston-01.highlight,
// #Steveston-02.highlight,
// #Steveston-03.highlight,
// #Steveston-04.highlight,
// #Steveston-05.highlight,
// #Steveston-06.highlight,
// #Steveston-07.highlight,
// #Steveston-08.highlight,
// #Steveston-09.highlight,
// #Steveston-10.highlight, 
{
  opacity: 1;
  background-color: transparent;
    -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari */
  transform: scale(1);

}

.ns-chrono-title {
  text-align: center;
}

.ns-label {
  // padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

#scotch-panel {
  background-color: #000005; // #C70025;
  color: #E9E9E9;
  border-color: #C70025;
  border-style: solid;
  border-width: 0 0 0 4px;
  font-family: 'Oswald', sans-serif;
}

