---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   3em;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     15px;

$text-color:       #DEC575;
$background-color: blue;
$brand-color:      #C70025;

$grey-color:       #E37882;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    960px;

$on-palm:          600px;
$on-laptop:        800px;

p {
  font-size: 1.5em;
}


// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

.ns-background {
  // background-image: url("/assets/2Nrxex6.jpg");
  width: 100%;
  height: 100%;
}

.ns-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 45px 0;
}

.ns-th-video {
  // height: 240px;
  // width: 180px;
  margin: 0 0 0px 0;
  padding: 4px;
  // border-style: solid;
  // border-color: #000005;
  // background-color: #000005;
  outline: none;
}


// Bootstrap Contact Form
.header {
    color: #000005;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

.ns-bigicon {
  font-size: 35px;
  color: #000005;
}


// parallax

// .parallax {
//   perspective: 1px;
//   height: 100vh;
//   overflow-x: hidden;
//   overflow-y: auto;
// }
// .parallax__layer {
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
// }
// .parallax__layer--base {
//   transform: translateZ(0);
// }
// .parallax__layer--back {
//   transform: translateZ(-1px);
// }




// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

// Import Google Fonts
@import url(http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica:400italic);
@import url(http://fonts.googleapis.com/css?family=Slabo+13px);


// Google Maps API
// #map-canvas-PowellSt { height: 100%; margin: 0; padding: 0;}
#map-canvas-Steveston { height: 100%; margin: 0; padding: 0;}
#map-canvas { height: 100%; margin: 0; padding: 0;}

.gmnoprint img {
    max-width: none; 
}


/** FIX for Bootstrap and Google Maps Info window styes problem **/
img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
max-width: none;
}


// fullPage.js settings

/* Style for our header texts
* --------------------------------------- */
// h1{
//   font-size: 5em;
//   // font-family: arial,helvetica;
//   color: #fff;
//   margin:0;
//   padding:0;
// }

// h2{
//   font-size: 2em;
//   // font-family: arial,helvetica;
//   color: #fff;
//   margin:0;
//   padding:0;
// }

/* Centered texts in each section
* --------------------------------------- */
.section{
  text-align:center;
}


/* Backgrounds will cover all the section
* --------------------------------------- */
#section0,
#section1,
#section2,
#section3,
#section4,
#section5,
#section6{
  // background-size: cover; // if this is enabled then the background images will not repeat!
  font-family: 'Oswald', sans-serif;
}


/* for small screens (smaller than 992px) */
@media screen and (max-width: 991) { /* GM: } 767px) {   */
  #section0,
  // #section2,
  #slide1,
  #slide2,
  #section3,
  #section4,
  #section5,
  #section6{
    padding: 0;
  }

  .ns-home-wrapper {
    padding: 15px;
  }
  .ns-chrono-wrapper {
    padding: 10px 15px 0;
  }

}

/* GM for larger screens (larger than 992 px wide) */
@media screen and (min-width: 992px) {
  #section0,
  // #section2,
  #slide1,
  #slide2,
  #section3,
  #section4,
  #section5,
  #section6{
    padding: 0px 220px 0px 0;
  }
  
  .ns-home-wrapper {
    padding-top: 50px;
  }

}

.ns-home-wrapper {
  text-align: none;
  font-size: 0.8em;
}

#ns-home-col-wrapper {
  text-align: justify;
  padding: 0 15px 0;
}

.ns-chrono-wrapper {
  text-align: justify;
  padding-bottom: 250px;
}

.ns-wrapper {
  text-align: justify;
  padding-bottom: 15px;
}


/* Defining each section background and styles
* --------------------------------------- */
#section0{
  background-image: url(/assets/bg-pattern-03.png);
  background-color: #D9DBDD;
}
#section1{
  padding: 0 0 0 0;
  background-color: #D9DBDD;
}
#section2{
  // background-image: url(/assets/bg-pattern-01.png);
  background-color: #D9DBDD;
}
#section3{
  background-image: url(/assets/bg-pattern-06.png);
  background-color: #D9DBDD;    
}
#section4{
  background-image: url(/assets/bg-pattern-07.png);
  background-color: #D9DBDD;    
}
#section5{
  background-image: url(/assets/bg-pattern-05.png);
  background-color: #D9DBDD;    
}
#section6{
  background-image: url(/assets/bg-pattern-04.png);
  background-color: #D9DBDD;    
}

// #section3 h1{
//   color: #000;
// }


/*Adding background for the slides
* --------------------------------------- */
#slide1{
  background-image: url(/assets/bg-pattern-02.png);
  z-index: -100;
}
#slide2{
  background-image: url(/assets/bg-pattern-01.png);
}

/* Bottom menu
* --------------------------------------- */
#infoMenu li a {
  color: #fff;
}


/* START Infobox */
.infobox-wrapper {
    display:none;
}
#infobox {
    border:2px solid black;
    margin-top: 8px;
    background:#333;
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding: .5em 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow:0 -1px #000000;
    -webkit-box-shadow: 0 0  8px #000;
    box-shadow: 0 0 8px #000;
}
/* END Infobox */

/* magnific popup testing in infobox */
#open-popup {padding:20px}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 40px;
  width: auto;
  max-width: 200px;
  margin: 20px auto;
  text-align: center;
}



/* Logo Positioning */
.ns-logoPosition{
  z-index: 10000;
  position: fixed;
  top: 15px;
  right: 17px;
  width: 200px;
}

@media screen and (max-width: 767px) {
  .ns-logoPosition{
    display: none;
  }
}

.playIcon {
  height: 27px;
  width: 36px;
}
.playIcon:hover {
  height: 27px;
  width: 36px;
  background-color: white;
}

.canvas.canvas-sliding {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

// @media (min-width: 992px) {
//   body {
//     padding-right: 300px;
//   }
// }
